.Game {
    width: 40%;
    padding: 16px;
    height: auto;
    overflow: auto;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 20px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: whitesmoke;
}

.image {
    width: 40%;
    image-rendering: -webkit-optimize-contrast;
}

.Game:hover,
.Game:active {
    background-color: #C0DDF5;
}

.Summary {
    margin: 16px 0;
    color: rgb(184, 70, 70);
}