
.searchForm {
    width:80%;
    margin:50px auto;
}

.searchBox {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
    margin-right: 5px;
}

.searchButton {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
.searchButton:hover  {
    cursor: pointer;
    background-color:#fafafa;
    color:#207cca;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: black;
    margin-right: 0.5em;
  }

  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }